################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IntroToCPP_Assesment/.vs/IntroToCPP_Assesment/v17/Browse.VC.opendb
